*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: none;
}

input {
  border: none;
  outline: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: white;
  cursor: url("../images/mouse.png"), auto;
}

h1 {
  font-size: 64px;
  line-height: 75px;
  text-transform: uppercase;
}

h2 {
  font-size: 40px;
  text-transform: uppercase;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}
@media (max-width: 1151px) {
  .container {
    padding: 0 5%;
  }
}

.row {
  display: flex;
  display: -ms-flexbox;
  flex-direction: row;
  justify-content: space-between;
}
.row_col {
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  width: 38%;
}
.row_col_3 {
  width: 53%;
}
.row_col_f {
  width: 100%;
}
.row .col_content:before {
  margin-bottom: 20px;
  content: "";
  display: block;
  height: 6px;
  width: 90px;
  background: #C8A35F;
}
.row__inner {
  display: flex;
  display: -ms-flexbox;
  flex-direction: row;
  flex-wrap: wrap;
}
.row__inner .row__item {
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  align-items: center;
  width: 25%;
}
.row_cta {
  display: flex;
  display: -ms-flexbox;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 55px;
  background: #C8A35F;
  font-size: 16px;
  line-height: 25px;
  color: white;
  text-transform: uppercase;
}

section {
  padding: 120px 0 129px;
  background: #2F343A;
}

/*=========Header==============*/
.header {
  padding: 27px 0;
  background: #2F343A;
  color: #fff;
  font-size: 14px;
}
.header .row nav, .header .row div {
  display: flex;
  display: -ms-flexbox;
  align-items: center;
}
.header__logo {
  display: flex;
  display: -ms-flexbox;
}
.header__logo p:nth-child(1) {
  line-height: 16px;
  display: flex;
  display: -ms-flexbox;
}
.header__logo p:nth-child(1):after {
  content: "";
  margin: 0 16.5px;
  display: block;
  height: 46px;
  width: 1px;
  background-color: #C8A35F;
}
.header__logo p:nth-child(2) {
  display: flex;
  display: -ms-flexbox;
  align-items: center;
}
.header__logo p:nth-child(2) span:nth-child(2) {
  margin-left: 7px;
  height: 16px;
}
.header__link {
  text-transform: uppercase;
  margin-right: 30px;
  color: #fff;
  transition: all 0.2s ease-in;
}
.header__link:last-child {
  margin: 0;
}
.header__link:hover {
  color: #C8A35F;
}

@media (max-width: 915px) {
  h1 {
    font-size: 56px;
  }
}
@media (max-width: 841px) {
  .header {
    font-size: 12.5px;
  }
}
@media (max-width: 810px) {
  .header__nav {
    display: none !important;
  }
}
/*=========Main styles=========*/
.mainscreen {
  display: flex;
  display: -ms-flexbox;
  min-height: 100vh;
  flex-direction: column;
}

.first_line {
  padding: 16px 0;
  background-color: #C8A35F;
  font-size: 12px;
  color: white;
}
.first_line .container {
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
  flex-direction: row;
}
.first_line p {
  display: block;
}
.first_line span {
  margin-right: 3px;
}
.first_line span:last-child {
  margin: 0;
}

.offer {
  display: flex;
  display: -ms-flexbox;
  justify-content: center;
  flex-grow: 3;
  align-items: center;
  background: url("../images/mainscreen/bg.png") no-repeat 50% 50%;
  background-size: cover;
}
.offer__content {
  text-align: center;
  padding: 71px 45px;
  border: 1px solid #C8A35F;
}
.offer__text {
  margin-top: 42px;
  font-size: 18px;
  line-height: 28px;
}

.services {
  position: relative;
}
.services:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 40%;
  background: #393F47;
  z-index: 0;
}
.services:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 40%;
  background: #393F47;
  z-index: 0;
}
.services .row {
  position: relative;
  z-index: 40000;
}
.services .row__text {
  margin: 30px 0 50px;
}
.services .slider {
  display: flex;
  display: -ms-flexbox;
  flex-direction: row;
}
.services .slider__image {
  width: 445px;
  min-height: 266px;
  background: url("../images/servises/1.png");
}
.services .slider__buttons {
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  justify-content: space-between;
  color: #C8A35F;
  text-transform: uppercase;
}
.services .slider__buttons .button__next {
  display: flex;
  display: -ms-flexbox;
  flex-direction: row;
}
.services .slider__buttons .button__next:after {
  margin-left: 31px;
  display: block;
  width: 67px;
  height: 24px;
  content: "";
  background: url("../images/servises/Arrow.png");
}
.services .slider__buttons .button__back {
  display: flex;
  display: -ms-flexbox;
  flex-direction: row;
}
.services .slider__buttons .button__back:before {
  margin-right: 31px;
  display: block;
  width: 67px;
  height: 24px;
  content: "";
  background: url("../images/servises/Arrow.png");
  transform: rotate(180deg);
}

.all_servises .row__inner {
  margin: 60px 0 0 0;
}
.all_servises .row__item {
  border: solid 1px #2F343A;
  padding: 35px 42px;
  background: #393F47;
}
.all_servises .row__item__icon {
  margin-bottom: 23px;
  display: flex;
  display: -ms-flexbox;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #fff;
}
.all_servises .row__item__title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.all_servises .row__item:hover {
  background: #C8A35F;
  cursor: pointer;
}

.about .row__text {
  margin: 30px 0 0 0;
  line-height: 23px;
}
.about .row__item {
  display: flex;
  display: -ms-flexbox;
  padding: 23px 0 25px;
  width: 33.333%;
  border: 0.25px solid #C8A35F;
  background: #fff;
  align-items: center;
  text-align: center;
}
.about .row__item h1 {
  color: #2F343A;
}
.about .row__item p {
  color: #2F343A;
  margin: 10px 0 15px;
  font-size: 18px;
  line-height: 21px;
}
.about .row__item span {
  color: #2F343A;
  font-size: 12px;
}
.about .row__item:nth-child(3), .about .row__item:nth-child(4) {
  border: none;
  padding: 0;
}
.about .row__item .item__image {
  width: 100%;
  height: 100%;
  background: url("../images/about/01.png");
  background-size: cover;
}

.maps {
  height: 450px;
  width: 100%;
  padding: 0;
  background: url("../images/maps/bg.png") no-repeat;
  background-size: cover;
  background-position: center;
}

/*=========Footer==============*/
.footer {
  padding: 65px 0 60px;
  background: #C8A35F;
}
.footer ul {
  display: flex;
  display: -ms-flexbox;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.footer ul li {
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
}
.footer ul li:last-child {
  margin: 0;
}
.footer ul li p:nth-child(1) {
  margin-bottom: 10px;
}
.footer p {
  color: #fff;
  font-size: 14px;
}
.footer .blacked {
  color: #000;
}