.footer {
  padding: 65px 0 60px;
  background: $gold;
  ul {
    @include flexBox;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    li {
      @include flexBox;
      flex-direction: column;
      &:last-child {
        margin: 0;
      }
      p:nth-child(1) {
        margin-bottom: 10px;
      }
    }
  }
  p {
    color: #fff;
    font-size: 14px;
  }
  .blacked {
    color: #000;
  }
}
